<!DOCTYPE html>
<html>
  <head>
    <title>Gram Bangla</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
      integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div class="container">
      <!-- body starts here ==================== -->
      <div class="posts">
        <div class="post">
          <div class="post-head">
            <div class="profile-info">
              <div class="profile-pic">
                <i class="fa-solid fa-user"></i>
              </div>
              <p class="username"><%= post.username %></p>
            </div>
          </div>
          <p class="id">Id: <%= post.id %></p>
          <br />

          <div class="post-img">
            <img src="<%= post.image  %>" alt="bird" />
          </div>
          <div class="post-caption">
            <p><%= post.caption %></p>
          </div>
          <div class="post-footer">
            <div class="footer-left">
              <a href=""
                ><i class="fa-regular fa-heart">
                  <span><%= Math.floor(Math.random()*1500+200) %></span>
                </i></a
              >
              <a href="">
                <i class="fa-regular fa-comment">
                  <span><%= Math.floor(Math.random()*500+1) %></span>
                </i></a
              >
              <a href=""
                ><i class="fa-regular fa-paper-plane">
                  <span><%= Math.floor(Math.random()*100+1) %></span>
                </i></a
              >
            </div>
            <i class="fa-regular fa-bookmark"></i>
          </div>
        </div>
      </div>
      <!-- body ends here ==================== -->
    </div>

    <script src="../public/javascripts/script.js"></script>
  </body>
</html>
